.auth-container {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.auth-overlay {
  position: absolute;
  inset: 0;
  background-color: pink;
  cursor: zoom-out;
}

.auth-modal {
  position: relative;
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  max-height: 90vh;
  overflow-y: auto;
}

.auth-modal input {
  padding: 7px;
  font-size: 1.1rem;
  margin-top: 4px;
}
.auth-modal h2 {
  text-align: center;
  margin-bottom: 10px;
}

.close-loggin-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.common-submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.common-submit-btn:hover {
  background-color: #1d4fd8a8;
}

.common-submit-btn:active {
  background-color: #007bff;
}

.common-alt-btn-style {
  color: blue;
  text-decoration: underline green;
  cursor: pointer;
}

.common-alt-btn-style:hover {
  text-decoration: underline green 2px;
}

.common-text-style {
  margin-top: 10px;
}

.forgot-password {
  text-align: right;
  margin: -10px 0 15px;
  font-size: 0.9rem;
  color: #4a7aff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #1d4ed8;
  text-decoration: underline green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-container.active {
  display: flex;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 45%;
  bottom: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.error-msg {
  color: red;

  display: none;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  font-size: 15px;
  word-break: break-all;
  margin-top: 2px;
}

.error-msg.show {
  display: block;
  transform: translateY(0);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(100%);
}
