body {
  display: flex;
  background: #f5f5f5;
}

#profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.admin-btn {
  background-color: orange;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
}
.dashboard-menu-btn {
  cursor: pointer;
  margin: 10px;
  font-size: 30px;
  display: none;
}
.admin-btn:hover {
  opacity: 0.8;
}
.admin-btn:active {
  opacity: 1;
}
.headingText {
  font-size: 30px;
}
.profile:hover {
  background-color: #4caf50;
  border-radius: 2px;
}
.disabled-btn {
  cursor: not-allowed;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(100%);
}
.popup-message {
  top: 10px;
  right: 40px;
  min-width: 250px;
  max-width: 350px;
  background-color: azure;
  color: blue;
  border-left: 4px solid #4caf50;
  padding: 15px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: none;
  transform: translateY(-20px);
  transition: all 0.5s ease;
  z-index: 99979;
  font-family: Arial, sans-serif;
  position: fixed;
}

.popup-message.show {
  display: block;
  transform: translateY(0);
}

.popup-message::after {
  content: "";
  display: block;
  height: 6px;
  background: yellow;
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.sidebar {
  width: 230px;
  height: 100vh;
  background: #1a1a1a;
  padding: 30px 20px;
  color: white;
  position: fixed;
  overflow-y: auto;
  word-break: break-all;
}
.close-navlinks {
  background-color: #ff9800;
  padding: 3px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.close-navlinks:hover {
  opacity: 0.8;
}

.mobile-sidebar.show {
  display: none;
}

.sidebar-logo {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.sidebar-links {
  list-style: none;
}

.sidebar-links li {
  cursor: pointer;
}

.sidebar-links li {
  color: #ccc;
  font-size: 1.2rem;
  transition: 0.3s;
  margin: 18px 0;
}

.sidebar-links li:hover,
.sidebar-links .active {
  color: orange;
  background-color: #28a745;
  padding: 13px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  font-kerning: initial;
  font-variant: small-caps;
  font-synthesis: style;
}

.logout {
  color: #ff4d4d !important;
}

.main-content {
  margin-left: 230px;
  padding: 25px;
  width: calc(100% - 230px);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #444;
}

.card p {
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
}

.table-section h2 {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background: #1a1a1a;
  color: white;
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.targeted-table-cont {
  display: none;
}

.targeted-table-cont.show {
  display: block;
  margin-bottom: 70px;
}
.latest-task-message {
  text-align: center;
  color: green;
}
.fetched-task-message {
  text-align: center;
  color: #001;
}
.badge {
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  color: white;
}

.completed {
  background: #28a745;
}

.pending {
  background: #ff9800;
}

.in-progress {
  background: #007bff;
}
.err-message {
  text-align: center;
  color: red;
  margin: 15px;
}

@media (max-width: 700px) {
  .sidebar-default {
    display: none;
  }

  .dashboard-menu-btn {
    display: block;
  }
  .admin-btn {
    font-size: 16px;
    padding: 5px;
  }
  .headingText {
    font-size: 22px;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
