.greeting {
  text-align: center;
  color: blue;
}
.input-btn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  margin: 20px auto 10px;
  gap: 12px;
  padding: 10px;
  border: solid 2px gray;
}
.input-btn-cont label {
  display: flex;
  min-width: 300px;
  padding: 5px;
  font-size: 16px;
  gap: 10px;
  font-size: 19px;
}
#task-name-input-el {
  font-size: 19px;
  padding: 6px;
  min-width: 200px;
  height: 39px;
}

#task-description-textarea-el {
  font-size: 19px;
  padding: 5px;
  min-width: 300px;
  height: 100px;
}

.task-btn {
  border: none;
  background-color: orange;
  color: white;
  font-size: 19px;
  cursor: pointer;
  width: 60%;
  border-radius: 20px;
  transition: background-color 0.5s;
  padding: 9px;
}

.task-btn:hover {
  background-color: hsl(39, 68%, 52%);
}
.task-btn:active {
  background-color: orange;
}

#duration-cont {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 12px;
  margin: 6px;
  flex-direction: column;
  font-size: 19px;
}

#status-of-task {
  text-align: center;
  margin: 4px auto;
}
#status-of-task label {
  cursor: pointer;
  font-size: 20px;
  margin: 4px;
}

#status-of-task input,
.increment,
.decrement {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .input-btn-cont label {
    width: 98%;
    display: block;
  }
  .input-btn-cont,
  .task-cont {
    width: 95%;
  }
}
